body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #cfc3c3;
   font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    background-color: rgb(215, 229, 235);
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}
#display{
    width: 100%;
    height: 45%;
    font-size: 26px;
    text-align: right;
}
.buttons{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 9px;
}
button{
    padding: 14px;
    font-size: 17px;
    cursor: pointer;
}